.container {
    display: flex;
    justify-content: space-between;
}

.column {
    box-sizing: border-box;
    flex: 1;
    padding: 0 20px;
    margin-right: 10px;
}

.column:last-child {
    margin-right: 0;
}
